<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" tools:remove="android:maxSdkVersion"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono_pop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_pop"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSPodcast"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <service
            android:name="com.lucho.rs_podcast.PodcastService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            />
        <receiver android:name="com.lucho.rs_podcast.PodcastService$NotificationReceiver" android:exported="false">
            <intent-filter>
                <action android:name="PLAY" />
                <action android:name="NEXT" />
                <action android:name="PAUSE" />
                <action android:name="STOP" />
                <action android:name="EXIT" />
            </intent-filter>
        </receiver>

        <receiver android:name="androidx.media.session.MediaButtonReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </application>
</manifest>